# DS PROJECT - Predicting the outcome of driving exams in Estonia

### Reading data

In [1]:
import pandas as pd

data = pd.read_csv("cleanedData.csv")

data.head()

,KESTUS,VARASEMAID_KATSEID,BYROO_Haapsalu,BYROO_Jõgeva,BYROO_Jõhvi,BYROO_Kuressaare,BYROO_Kärdla,BYROO_Narva,BYROO_Paide,BYROO_Pärnu,...,KUU_3,KUU_4,KUU_5,KUU_6,KUU_7,KUU_8,KUU_9,KUU_10,KUU_11,KUU_12
0,50.0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,24.0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,24.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,48.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,51.0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0